{% extends "gallery/base.html" %}
{% load static %}
{% block title %}Change your password{% endblock %}
{% block content %}
     <head>
        <style type="text/css">
            body{
                margin: 0;
                padding: 0;
                background: url('{% static "images/changebg.jpg" %}');
                background-size: cover;
                background-postion: center;
                font-family: sans-serif;
            }
        </style>
   </head>
  <h1>Change your password</h1>
  <p>Use the form below to change your password.</p>
  <form method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}
  </form>
{% endblock %}